<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Firebase Sandbox" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
</head>
<body>
  <script type="text/javascript">
          var data = new Firebase('https://resplendent-inferno-165.firebaseIO.com/')
  </script>
  <%= yield %>
</body>
</html>